{{define "title"}}Account{{end}}

{{define "main"}}
    <h2>Account</h2>
    {{with .User}}
    <table>
        <tr>
            <td><strong>Name</strong></td>
            <td>{{.Name}}</td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td>{{.Email}}</td>
        </tr>
        <tr>
            <td><strong>Joined</strong></td>
            <td>{{humanDate .Created}}</td>
        </tr>
        <tr>
            <td><strong>Password</strong></td>
            <td><a href="/account/password/update">Change Password</a></td>
        </tr>
    </table>
    {{end}}
{{end}}
