{{define "title"}}Change Password{{end}}

{{define "main"}}
<form action='/account/password/update' method='POST' novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{range .Form.Messages}}
        <div class='error'>{{.}}</div>
    {{end}}
    <div>
        <label>Current Password:</label>
        {{with .Form.Errors.currentPassword}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='currentPassword'>
    </div>
    <div>
        <label>New Password:</label>
        {{with .Form.Errors.newPassword}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='newPassword'>
    </div>
    <div>
        <label>Confirm New Password:</label>
        {{with .Form.Errors.confirmNewPassword}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='confirmNewPassword'>
    </div>
    <div>
        <input type='submit' value='Change password'>
    </div>
</form>
{{end}}
